node_modules
dist
*.env
~/.uatu
.uatu/
*.log
*.jsonl
dist-ui
*env.example
*.env.local
*.env.development
*.env.test
*.env.production
*.env.development.local
*.env.neurons.example
*backup*
*.bak
*.tmp
*.swp
.DS_Store
.idea/